html {
    font-size: 10px;
    color: #404040;
    background-color: #A2EAF2;
    font-family: 'Amatic SC', cursive;
}

body {
    border-radius: 20px;
    border: 1px solid #404040;
    width: 430px;
    margin: 0 auto;
    background-color: #F2F2F2;
    padding: 10px 20px 60px 60px;
    box-shadow: #404040 10px 10px;
}

h1 {
    font-size: 40px;
    text-align: center;
    letter-spacing: 5px;
    margin: 0;
    padding: 20px 0;
    color: #404040;
}

img {
    display: block;
    margin: 0 auto;
}

p, li {
    font-size: 25px;
    line-height: 1;
    letter-spacing: 1px;
}